<div class="container clearfix">
    <div class="main">
		<h1>sign in</h1>

		<hr/>
		
		<form class="clearfix" role="form">
			<div class="form-group">
				<div class="input-group">
					  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
					  <input id="emailAddress" type="text" class="form-control" placeholder="email address" required>
				</div>
			</div>
			
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-unlock"></i></span>
					<input id="password" type="password" class="form-control" placeholder="password" required>
				</div>
			</div>		
			
			<a class="btn" href="/auth/github/">
				<i class="fa fa-github"></i> github
			</a>

			<a class="btn" href="/auth/facebook/">
				<i class="fa fa-facebook"></i> facebook
			</a>
			
			<a class="btn" href="/auth/google/">
				<i class="fa fa-google"></i> google
			</a>	
			
			<button type="submit" class="btn btn-default pull-right">login</button>
		</form>
    </div>    
</div>