<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">sign in</h1>

		<br/>
			
		<form>
			<div class="input-group">
				  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				  <input type="text" class="form-control" placeholder="email">
			</div>
			
			<br/>
			
			<div class="input-group">
				  <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
				  <input type="password" class="form-control" placeholder="password">
			</div>
						
			<a class="btn" href="/auth/github/">
				<i class="fa fa-github"></i> github
			</a>

			<a class="btn" href="/auth/facebook/">
				<i class="fa fa-facebook"></i> facebook
			</a>
			
			<a class="btn" href="/auth/google/">
				<i class="fa fa-google"></i> google
			</a>
			
			<input type="submit" class="btn btn-default pull-right"></input>
		</form>
    </div>    
</div>