<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">register</h1>

		<hr/>
		
		<form class="clearfix" role="form">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
					<input type="text" class="form-control" placeholder="email" required>
				</div>
			</div>
			
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-unlock"></i></span>
					<input type="password" class="form-control" placeholder="password" required>
				</div>
			</div>
			
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
					<input type="password" class="form-control" placeholder="password confirmation" required>
				</div>
			</div>
			
			<a class="btn" href="/auth/github/">
				<i class="fa fa-github"></i> github
			</a>

			<a class="btn" href="/auth/facebook/">
				<i class="fa fa-facebook"></i> facebook
			</a>
			
			<a class="btn" href="/auth/google/">
				<i class="fa fa-google"></i> google
			</a>
			
			<button type="submit" class="btn btn-default pull-right">register</button>
		</form>
		
    </div>    
</div>