<div class="main">
	<ul>
		<% for( var i = 0; i < games.length; i++ ) {%>
			<li class='gameTemplate'>
				<img src='<%= games[i].imageUrl %>'>
				<label><%= games[i].name %></label>
				<p><%= games[i].description %></p>
				<button class="btn" data-game='<%= games[i].Id %>'>PLAY ></button>
			</li>
		<% } %>
	</ul>
</div>