html, body {
    text-align: left;
    font-size: 1em
}

html, body, img, form, textarea, input, fieldset, div, p, div, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code {
    margin: 0;
    padding: 0
}

ul, li {
    list-style: none
}

img {
    display: block
}

a img {
    border: 0
}

a {
    text-decoration: none;
    font-weight: normal;
    font-family: inherit
}

*:active, *:focus {
    outline: 0;
    -moz-outline-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

div.clear {
    clear: both
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px
}

h1 {
    color: #fff;
	background-color: #001c20;
	padding: .4em;
    font-size: 2em;
    font-weight: 300
}

h2 {
    color: #fff;
	background-color: #001c20;
	padding: .4em;
	font-size: 1.5em;
    font-weight: 300;
    margin-top: 4%
}

h3 {
    color: #fff;
	background-color: #001c20;
	padding: .4em;
	font-size: 1.25em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 5px
}

h4 {
    color: #fff;
	background-color: #001c20;
	padding: .4em;
    font-weight: 300;
    font-size: 1.5em
}

span {
    font-weight: 700
}

ul {
    margin-top: 5%;
    margin-bottom: 5%
}

a {
    text-decoration: none;
    color: inherit
}

p {
    margin-bottom: 7px;
    font-size: .9em
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
	border-color: #001c20;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px #531308;
	outline: 0 none;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -45px;
  /* Pad bottom by footer height */
  padding: 0 0 45px;
}

#footer {
    width: 100%;
    height: 45px;
    background-color: #001c20;
}

#footer .container {
	height: 45px;
    margin: auto; 
    padding: 5px 0; 
    text-align: center;
}

#footer p {
    color: white;
}

#wrap > .container {
    max-width: 1050px;
    padding: 75px 0 45px 0;
}

.navbar {
    background-color: #001c20;
}

.navbar .container {
    margin: 0 auto;
}

.navbar .btn {
    margin: 10px 0 0 0;
}

.btn {
    display: inline-block;
    background: #001c20;
    color: #fff;
    padding: .6em 1.2em;
    line-height: 1.2;
    border-radius: 0;
    margin: 1em .1em;
}

.btn:hover {
	background: #531308;
    color: #fff;
}

.input-group-addon {
	background: #001c20;
    color: #fff;
	border: none;
	border-radius: 0;
}

.logo {
	width: 165px;
	display: inline-block;
}

#games {
    margin-top: 0;
}

.gameTemplate {
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border: solid 1px #001c20;
}

.gameTemplate .gameImage {
	background-color: #FDF7EF; 
	margin-bottom: 4px;
}

.gameTemplate img {
	max-width: 250px;
	max-height: 150px;
	
}

.gameTemplate hr {
	margin-top: 0;
	margin-bottom: 10px;
}

.gameTemplate p {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	width: 250px;
	height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
	margin: 0 auto;
	font-size: .75em;
	line-height: $line-height;
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gameTemplate .btn {
	margin-bottom: 0;
}

.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid;
}